{
    "extends": [
        "@steroidsjs/eslint-config"
    ],
    "rules": {
      "no-continue": "off"
    },
    "parser": "@typescript-eslint/parser",
      "env": {
          "node": true
      }
}
