name: Test

on:
  pull_request:
    branches: [ main ]

jobs:
  test-unit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 22

      - name: Install dependencies
        run: yarn

      - name: Start unit tests
        run: yarn jest --config jest.unit.config.ts

  test-e2e:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_DB: test_db
          POSTGRES_USER: test
          POSTGRES_PASSWORD: test_pass
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U test"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 22

      - name: Install dependencies
        run: yarn

      - name: Start e2e test
        env:
          TYPEORM_HOST: localhost
          TYPEORM_PORT: 5432
          TYPEORM_DATABASE: test_db
          TYPEORM_USERNAME: test
          TYPEORM_PASSWORD: test_pass
        run: yarn jest --config jest.e2e.config.ts
